<!-- <div class="empad header-title"> -->
      <!-- <div class="logo empad row"> -->
        <div class="flex empad">
            <img class="logo"
              src="../images/indigotmlogomb.jpg"
              alt="Pokeball indigoTM logo"
            />
            
      
          <!-- <div> -->
            <section class="flex">
          <!-- <h1 class="title">IndigoTM <span class="highlight"></span></h1> -->
      <!-- </div> -->
      
        <h1 class="title">Pokemon Team Generator site</h1>
      </div>
      </section>
      </div>
        </div>
      
          <!-- <a class="login" href="/favorites/index.html">My Account</a> -->
          <nav class="nav">
            <ul>
              <!-- <li><a class="menubtn" href="#">&#9776;</a></li> -->
              <li><a class="bold" href="/accounts/index.html">Account</a></li>
              <li><a href="/index.html">Home</a></li>
      
                <li><a href="/pokepages/kanto.html">Kanto</a></li>
                <li><a href="/pokepages/johto.html">Johto</a></li>
                <li><a href="/pokepages/hoenn.html">Hoenn</a></li>
                <li><a href="/accounts/favorites.html">Favorites</a></li>
      
      
            </ul>
          </nav>