<!-- <div class="empad header-title"> -->
      <!-- <div class="logo empad row"> -->
        <div class="flex empad">
            <img class="logo"
              src="https://jdevoldemort.github.io/indigotm/images/indigotmlogomb.jpg"
              alt="Pokeball indigoTM logo"
            />
            
      
          <!-- <div> -->
            <section class="flex">
          <!-- <h1 class="title">IndigoTM <span class="highlight"></span></h1> -->
      <!-- </div> -->
      
        <h1 class="title">Pokemon Team Generator site</h1>
      </div>
      </section>
      </div>
        </div>
      
          <!-- <a class="login" href="/favorites/index.html">My Account</a> -->
          <nav class="nav">
            <ul>
              <!-- <li><a class="menubtn" href="#">&#9776;</a></li> -->
              <!-- <li><a class="bold" href="https://jdevoldemort.github.io/indigotm/accounts/index.html">Account</a></li> -->
              <li><a href="https://jdevoldemort.github.io/indigotm/index.html">Home</a></li>
      
                <!-- <li><a href="https://jdevoldemort.github.io/indigotm/pokepages/kanto.html">Kanto.html</a></li> -->
                <li><a href="https://jdevoldemort.github.io/indigotm/pokepages/index.html?region=Test">Test</a></li>
                <li><a href="https://jdevoldemort.github.io/indigotm/pokepages/index.html?region=kanto">Kanto</a></li>
                <li><a href="https://jdevoldemort.github.io/indigotm/pokepages/index.html?region=johto">Johto</a></li>
                <li><a href="https://jdevoldemort.github.io/indigotm/pokepages/index.html?region=hoenn">Hoenn</a></li>
                <li><a href="https://jdevoldemort.github.io/indigotm/accounts/favorites.html">Favorites</a></li>
      
      
            </ul>
          </nav>